[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.5"

[scripts]
start = "python main.py"
debug = "python -m pdb main.py"
